body {
  text-align: center;
  background-color: #faff93;
  color: #574000;
  font-family: "Courier New", Courier, monospace;
}

.table {
  margin: auto;
  text-align: center;
  background-color: #ffe9e9;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
}

.cell img {
  width: 25px;
  height: auto;
}

.floor {
  text-align: center;
  background-color: #e49696;
}

.shown {
  text-align: center;
  background-color: #efd7d7;
}

button {
  text-align: center;
  display: none;
  margin: auto;
}
